header {
  height: 10vh;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 30px;
  line-height: 10vh;
}

ul {
  display: flex;
}

li {
  list-style: none;
  padding-left: 40px;
  line-height: 10vh;
}

a {
  text-decoration: none;
  font-size: 12px;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

button {
  background-color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
}

main {
  height: 80vh;
  background-color: #eee;
  padding: 30px 100px 0;
}

table {
  width: 100%;
}

tr {
  border-top: 1px solid black;
  height: 60px;
}

th {
  padding-left: 30px;
  width: 20%;
  line-height: 60px;
  text-align: left;
}

td {
  padding-left: 30px;
  line-height: 60px;
}

footer p {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 5vh;
}