header {
  height: 10vh;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 30px;
  line-height: 10vh;
}

header ul {
  display: flex;
}

header li {
  list-style: none;
  padding-left: 40px;
  line-height: 10vh;
}

header a {
  text-decoration: none;
  font-size: 12px;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.logout {
  background-color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
}

main {
  height: 85vh;
  background-color: #eee;
  padding: 30px 100px 0;
}

main ul {
  text-align: center;
}
main li {
  list-style: none;
}
main a{
  display: block;
  font-size: 40px;
  margin-bottom: 60px;
  color: black;
}
form {
  display: flex;
}


footer {
  height: 5vh;
}

footer p {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 5vh;
}