header {
  height: 10vh;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 30px;
  line-height: 10vh;
}

header ul {
  display: flex;
}

header li {
  list-style: none;
  padding-left: 40px;
  line-height: 10vh;
}

header a {
  text-decoration: none;
  font-size: 12px;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.logout {
  background-color: white;
  color: black;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
}

main {
  height: 85vh;
  background-color: #eee;
  padding: 30px 100px 0;
}

main ul {
  text-align: center;
}

main li {
  list-style: none;
}

main a {
  display: block;
  font-size: 40px;
  margin-bottom: 60px;
  color: black;
  text-decoration: none;
}

.register form {
  text-align: center;
  margin-bottom: 40px;
}

.register input {
margin-bottom: 20px;
}
.belong {
  margin-bottom: 20px;
  width: 185px;
  height: 30px;
}

.register button,
.guraduation button {
  background-color: #06f;
  border-color: #06f;
  color: white;
}
.guraduation {
  display: flex;
  flex-wrap: wrap;
}
.guraduation form {
  display: flex;
}
.error {
  color: red;
  text-align: center;
  font-size: 20px;
  list-style: none;
}
.session {
  color: red;
  text-align: center;
  font-size: 20px;
}


footer {
  height: 5vh;
}

footer p {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 5vh;
}