header {
  height: 10vh;
  padding-left: 50px;
}

h1 {
  font-size: 30px;
  line-height: 10vh;
}

main {
  height: 80vh;
  background-color: #eee;
  padding-top: 30px;
}

h2 {
  text-align: center;
  font-size: 20px;
  margin: 100px 0 30px;
}

.login-form {
  text-align: center;
}

.login-form>p {
  font-size: 13px;
}

input {
  height: 30px;
  width: 240px;
  margin-bottom: 15px;
  padding-left: 10px;
}

button {
  display: block;
  margin: 0 auto 20px;
  width: 250px;
  height: 35px;
  background-color: blue;
  color: white;
  border-color: blue;
  border-radius: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-size: 12px;
}

footer p {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 5vh;
}