header {
  height: 10vh;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 30px;
  line-height: 10vh;
}

ul {
  display: flex;
}

li {
  list-style: none;
  padding-left: 40px;
  line-height: 10vh;
}

a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.logout {
  background-color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
}

main {
  height: 80vh;
  background-color: #eee;
  padding-top: 30px;
  padding-left: calc((40% - 40px)/2);
  padding-right: calc((40% - 40px)/2);
}

h2 {
  text-align: center;
  font-size: 20px;
  margin: 30px 0 30px;
}

.date-box {
  display: flex;
  margin-bottom: 40px;
  width: 100%;
  justify-content: space-between;
}

.time-add {
  height: 150px;
  width: 47%;
}

.start_time,
.end_time,
.rest_start_time,
.rest_end_time {
  display: block;
  height: 100%;
  width: 100%;
  background-color: white;
  text-align: center;
  line-height: 150px;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

.none-button {
  display: block;
  height: 150px;
  width: 47%;
  background-color: white;
  text-align: center;
  line-height: 150px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  pointer-events: none;
  opacity: 0.1;
}

button:active {
  background-color: gray;
}

footer p {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 5vh;
}

.session {
  font-size: 20px;
  color: red;
  text-align: center;
}